/* Používáme intuitivní výpočet rozměrů prvků. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

/* SPOLEČNÉ */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #F6F3ED;
}

header {
  background-color: #0D2D4C;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 2% 5%;
  gap: 0.5rem;
  margin-top: 5%;
}

a {
  text-decoration: none;
  color: white
}

main {
  padding: 0 4%;
}

p {
  text-align: justify;
}

.kelímek {
  max-width: 100px;
  height: auto;
}

.logo {
  margin-top: 5%;
  display: flex;
  align-items: flex-end;
  color: #0D2D4C;
}

@media (min-width: 720px) {
  body {
    flex-direction: row;
  }

  header {
    width: 15%;
    height: 100vh;
  }

  nav {
    gap: 2rem;
    padding: 10%;
    flex-direction: column;
  }

  main {
    width: 85%;
    padding: 0 11% 0 4%;
  }
}

/* O NÁS */
.osoba {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0D2D4C;
}

.fotka {
  margin: 5% 0;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

.osoba__popis a {
  color: #0D2D4C;
  font-size: smaller;
}

.osoba__popis a:hover {
  color: #2b5d90;
}

@media (min-width: 720px) {
  .osoba {
    flex-direction: row;
    align-items: center;
    gap: 5%;
  }
}